@font-face {
  font-family: "Analogist";
  src: url("../../public/fonts/Analogist.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/fonts/RobotoMono-Regular.ttf");
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: auto; /* Let Lenis handle smooth scrolling */
}

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

:root {
  --Light: #f8f8e9;
  --Dark: #06070a;
  --Yellow: #f5da86;
  --Red: #b44a35;
  --Blue: #abdddd;
  --LightGreen: #95a878;
  --DarkGreen: #46684c;
  --BodyColor: var(--Light);

  --Heading: "Analogist", "Times", serif;
  --Text: "Roboto Mono", "Arial", sans-serif;

  --Mobile: 576px;
  --Tablet: 768px;
  --Laptop: 992px;
  --Desktop: 1200px;
}

html {
  background-color: var(--BodyColor);
}

body {
  background-color: var(--BodyColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--Heading);
}

p,
span,
small,
label,
a,
li,
:placeholder-shown {
  font-family: var(--Text);
}
