@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,100&display=swap");

@font-face {
  font-family: "Analogist";
  src: url("../../public/fonts/Analogist.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../../public/fonts/RobotoMono-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Light: #f8f8e9;
  --Dark: #06070a;
  --Yellow: #f5da86;
  --Red: #b44a35;
  --Blue: #abdddd;
  --LightGreen: #95a878;
  --DarkGreen: #46684c;
  --BodyColor: var(--Light);

  --Heading: "Analogist", "Playfair Display", "Times", serif;
  --Text: "Roboto Mono", "Roboto Mono", "Arial", sans-serif;

  --Mobile: 576px;
  --Tablet: 768px;
  --Laptop: 992px;
  --Desktop: 1200px;
}

html {
  background-color: var(--Yellow);
}

body {
  background-color: var(--BodyColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--Heading);
}

p,
span,
small,
label,
a,
li,
:placeholder-shown {
  font-family: var(--Text);
}
